<div class="container">
  <h1>CRUD - APIREST 2do parcial</h1>

  @if(errorMessage){
  <div class="alert alert-danger">
    {{ errorMessage }}
  </div>
  }

   @if(isLoading){
  <div class="loader">
    Cargando...
  </div>
  }

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Genero</th>
        <th>Accion</th>
        <th colspan='2'></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario._id || usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.genero }}</td>
        <td>
          <button class="btn btn-edit" (click)="editUsuario(usuario)">Editar</button>
        </td>
        <td>
          <button class="btn btn-delete" (click)="deleteUsuario(usuario)">Eliminar</button>
        </td>
      </tr>
      @if(usuarios.length === 0 && !isLoading){
      <tr >
        <td colspan="7" class="text-center">No hay usuarios disponibles</td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td><input id='name' [(ngModel)]="newUsuario.nombre" placeholder="Nombre"/></td>
        <td><input id='lastName' [(ngModel)]="newUsuario.apellido" placeholder="Apellido"/></td>
        <td><input id='email' [(ngModel)]="newUsuario.email" placeholder="Email"/></td>
        <td><input id='gender' [(ngModel)]="newUsuario.genero" placeholder="Género"/></td>
        <td colspan='2' style='text-align: center'>
          <button class="btn btn-add" (click)="saveObject()">Agregar</button>
        </td>
      </tr>
    </tfoot>
  </table>

  @if(showPopup && selectedUsuario){
  <div id='popUp'>
    <table>
      <tr>
        <td><label for='id2'>ID</label></td>
        <td><input id='id2' name='id2' class="inputPopUp" [value]="selectedUsuario!._id || selectedUsuario!.id" readonly /></td>
      </tr>
      <tr>
        <td><label for='name2'>Nombre</label></td>
        <td><input id='name2' name='name2' class="inputPopUp" [(ngModel)]="selectedUsuario!.nombre" /></td>
      </tr>
      <tr>
        <td><label for='lastName2'>Apellido</label></td>
        <td><input id='lastName2' name='lastName2' class="inputPopUp" [(ngModel)]="selectedUsuario!.apellido" /></td>
      </tr>
      <tr>
        <td><label for='email2'>Email</label></td>
        <td><input id='email2' name='email2' class="inputPopUp" [(ngModel)]="selectedUsuario!.email" /></td>
      </tr>
      <tr>
        <td><label for='gender2'>Genero</label></td>
        <td><input id='gender2' name='gender2' class="inputPopUp" [(ngModel)]="selectedUsuario!.genero" /></td>
      </tr>
      <tr>
        <td colspan='2' style='text-align: center'>
          <button class="btn btn-add" (click)="updateObject()">Actualizar</button>
          <button class="btn btn-cancel" (click)="closePopup()">Cancelar</button>
        </td>
      </tr>
    </table>
  </div>
  }
</div>
